In [6]:
# this is URl of mongoDB and to connect we should import pyhton librery for mongoDB i.e(import pymongo)

In [116]:
# here we are importing pymongo library to connect with mongoDB first while executing it will give error but when you do pip install pymongo
# it will install that library and by reexecuting this it will not give error.
import pymongo
client = pymongo.MongoClient("mongodb+srv://shindesanjana2003:shindesanjana2003@cluster0.ecq9kjk.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [117]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [118]:
db  # this will show that we have con

Database(MongoClient(host=['ac-v34nszv-shard-00-02.ecq9kjk.mongodb.net:27017', 'ac-v34nszv-shard-00-00.ecq9kjk.mongodb.net:27017', 'ac-v34nszv-shard-00-01.ecq9kjk.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-yyeys7-shard-0', tls=True), 'test')

In [119]:
# MongoDB is document based database. in this we create collections like dict in python called json(Javascript Object Notation File)
# in mongoDB we dont have to create schema i.e  don't have to define datatypes , column names .like hoe we define that in MySQL.

In [120]:
client = pymongo.MongoClient("mongodb+srv://shindesanjana2003:shindesanjana2003@cluster0.ecq9kjk.mongodb.net/?retryWrites=true&w=majority")

In [121]:
db=client['pwskills']   # when you open mongoDB database it will not show you anything untill we will store data in it.
                       #here db=database , 'pwskills'=name of database

In [122]:
data={"name" : "sanjana",                       # inserting data in database in dict format
     "class" : "Data science masters",
     "time" : "flexi"}

In [123]:
coll_pwskills=db["my_record"]  # here we are creating collection inside databse named 'my_record' and storing it in veriable 'coll_pwskills'
#                               collection name=my_record  , collection veriable= coll_pwskills

In [124]:
coll_pwskills.insert_one(data) # like this we can insert data in mongoDB

In [125]:
data1={"mail_id": "sanjanashinde@gmail.com",   # this is a next data that we want to insert 
      "mobile_no": 9374672947,                # when we want to insert single record we insert in 'dict' format
      "address": "kolhapur"}

In [126]:
coll_pwskills.insert_one(data1)   # insertind data1 in mongoDB .After executing it just go to mongoDB page a refresh then you can see your 
                                 # database and collection and data inside it .
                                # the record that we insert in collection is called documents.
                            # the advantaage of using mongoDB is that here we can store any type of data unlike sql where we can store only
                            # that type of data.

In [127]:
# to see wether data is inserted in database just go to mongoDB and go to databse and then go to browse collections .
#  after every inserted data to see it referesh everytime.

In [128]:
# how to insert multiple records:

In [129]:
data2=[                                        # like this we can insert many records
{"name" : "sanjana", "address" : "pune"},      # when we want to insert many records we insert in 'list' form
{"name" : "sanjana", "address" : "pune"},
{"name" : "sanika", "address" : "thane"},
{"name" : "soniya", "address" : "kolhapur"},
{"name" : "prerana", "address" : "pune"},
{"name" : "sima", "address" : "mumbai"},
{"name" : "sona", "address" : "gadhinglaj"},
{"name" : "pandurang", "address" : "pune"},
{"name" : "riya", "address" : "ajara"},
{"name" : "disha", "address" : "pune"},
{"name" : "kanchan", "address" : "pune"},
{"name" : "hema", "address" : "pune"},
{"name" : "nita", "address" : "pune"},
{"name" : "nikita", "address" : "radhanagri"},
{"name" : "dipika", "address" : "new-delhi"}
]

In [130]:
coll_pwskills.insert_many(data2)    # like this we can insert many records by using'insert_many'

In [131]:
data3={
"name" : "notebook",
 "quantity" : 50,
"ratings":[{"score":8},{"score":9}],
"size": {"height" : 11,"width":8.5 , "unit": "in"},
"status":"A",
"tags" : ["college_rules","perforated"]
}

In [132]:
coll_pwskills.insert_one(data3)

In [133]:
# by using mongoDB or from mongoDB we can create any chart or can do or generate reporting and can do starding also

In [134]:
data4_list_of_records=[
    {'company name' : 'google',
    'product':'Affordable AI',
    'course offered': 'Machine learning with Deployment'},
    
    {'company name' : 'microsoft',
    'product':'Affordable AI',
    'course offered': 'Deep learning '},
    
    {'company name' : 'facebook',
    'product':'Affordable AI',
    'course offered': 'data science masters'}



]

In [135]:
coll_pwskills.insert_many(data4_list_of_records)

In [136]:
# how to retrive data or how to see data:

In [137]:
coll_pwskills.find_one()                        # to get one record

{'_id': ObjectId('6404b7be6df7b2a638580a0e'),
 'name': 'sanjana',
 'class': 'Data science masters',
 'time': 'flexi'}

In [138]:
for i in coll_pwskills.find():                             # to see all records in database
    print(i)

{'_id': ObjectId('6404b7be6df7b2a638580a0e'), 'name': 'sanjana', 'class': 'Data science masters', 'time': 'flexi'}
{'_id': ObjectId('6404b7bf6df7b2a638580a0f'), 'mail_id': 'sanjanashinde@gmail.com', 'mobile_no': 9374672947, 'address': 'kolhapur'}
{'_id': ObjectId('6404b7c16df7b2a638580a10'), 'name': 'sanjana', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a11'), 'name': 'sanjana', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a12'), 'name': 'sanika', 'address': 'thane'}
{'_id': ObjectId('6404b7c16df7b2a638580a13'), 'name': 'soniya', 'address': 'kolhapur'}
{'_id': ObjectId('6404b7c16df7b2a638580a14'), 'name': 'prerana', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a15'), 'name': 'sima', 'address': 'mumbai'}
{'_id': ObjectId('6404b7c16df7b2a638580a16'), 'name': 'sona', 'address': 'gadhinglaj'}
{'_id': ObjectId('6404b7c16df7b2a638580a17'), 'name': 'pandurang', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a18'), 'name': 'riya', 'address': 'ajara'}
{'_id': ObjectId('6404b7c16df7b2a638580a19'), 'name': 'disha', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a1a'), 'name': 'kanchan', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a1b'), 'name': 'hema', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a1c'), 'name': 'nita', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a1d'), 'name': 'nikita', 'address': 'radhanagri'}
{'_id': ObjectId('6404b7c16df7b2a638580a1e'), 'name': 'dipika', 'address': 'new-delhi'}
{'_id': ObjectId('6404b7c26df7b2a638580a1f'), 'name': 'notebook', 'quantity': 50, 'ratings': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college_rules', 'perforated']}
{'_id': ObjectId('6404b7c46df7b2a638580a20'), 'company name': 'google', 'product': 'Affordable AI', 'course offered': 'Machine learning with Deployment'}
{'_id': ObjectId('6404b7c46df7b2a638580a21'), 'company name': 'microsoft', 'product': 'Affordable AI', 'course offered': 'Deep learning '}
{'_id': ObjectId('6404b7c46df7b2a638580a22'), 'company name': 'facebook', 'product': 'Affordable AI', 'course offered': 'data science masters'}

In [139]:
for i in coll_pwskills.find({'name': 'sanjana'}):   # here we are writng query to retrive that records where name='sanjana'
    print(i)

{'_id': ObjectId('6404b7be6df7b2a638580a0e'), 'name': 'sanjana', 'class': 'Data science masters', 'time': 'flexi'}
{'_id': ObjectId('6404b7c16df7b2a638580a10'), 'name': 'sanjana', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a11'), 'name': 'sanjana', 'address': 'pune'}

In [140]:
for i in coll_pwskills.find({'company name':'google'}):
    print(i)

{'_id': ObjectId('6404b7c46df7b2a638580a20'), 'company name': 'google', 'product': 'Affordable AI', 'course offered': 'Machine learning with Deployment'}

In [141]:
for i in coll_pwskills.find({'company name':'microsoft'}):
    print(i)

{'_id': ObjectId('6404b7c46df7b2a638580a21'), 'company name': 'microsoft', 'product': 'Affordable AI', 'course offered': 'Deep learning '}

In [142]:
random_data=[
    {'_id':'1', 'company name':'google','faulty':'xyz'},
    {'_id':'2', 'company name':'micosoft','faulty':'abc'},

    {'_id':'3', 'company name':'facebook','faulty':'mon'}


]

In [143]:
coll_pwskills.insert_many(random_data)

In [144]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('6404b7be6df7b2a638580a0e'), 'name': 'sanjana', 'class': 'Data science masters', 'time': 'flexi'}
{'_id': ObjectId('6404b7bf6df7b2a638580a0f'), 'mail_id': 'sanjanashinde@gmail.com', 'mobile_no': 9374672947, 'address': 'kolhapur'}
{'_id': ObjectId('6404b7c16df7b2a638580a10'), 'name': 'sanjana', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a11'), 'name': 'sanjana', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a12'), 'name': 'sanika', 'address': 'thane'}
{'_id': ObjectId('6404b7c16df7b2a638580a13'), 'name': 'soniya', 'address': 'kolhapur'}
{'_id': ObjectId('6404b7c16df7b2a638580a14'), 'name': 'prerana', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a15'), 'name': 'sima', 'address': 'mumbai'}
{'_id': ObjectId('6404b7c16df7b2a638580a16'), 'name': 'sona', 'address': 'gadhinglaj'}
{'_id': ObjectId('6404b7c16df7b2a638580a17'), 'name': 'pandurang', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a18'), 'name': 'riya', 'address': 'ajara'}
{'_id': ObjectId('6404b7c16df7b2a638580a19'), 'name': 'disha', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a1a'), 'name': 'kanchan', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a1b'), 'name': 'hema', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a1c'), 'name': 'nita', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a1d'), 'name': 'nikita', 'address': 'radhanagri'}
{'_id': ObjectId('6404b7c16df7b2a638580a1e'), 'name': 'dipika', 'address': 'new-delhi'}
{'_id': ObjectId('6404b7c26df7b2a638580a1f'), 'name': 'notebook', 'quantity': 50, 'ratings': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college_rules', 'perforated']}
{'_id': ObjectId('6404b7c46df7b2a638580a20'), 'company name': 'google', 'product': 'Affordable AI', 'course offered': 'Machine learning with Deployment'}
{'_id': ObjectId('6404b7c46df7b2a638580a21'), 'company name': 'microsoft', 'product': 'Affordable AI', 'course offered': 'Deep learning '}
{'_id': ObjectId('6404b7c46df7b2a638580a22'), 'company name': 'facebook', 'product': 'Affordable AI', 'course offered': 'data science masters'}
{'_id': '1', 'company name': 'google', 'faulty': 'xyz'}
{'_id': '2', 'company name': 'micosoft', 'faulty': 'abc'}
{'_id': '3', 'company name': 'facebook', 'faulty': 'mon'}

In [145]:
for i in coll_pwskills.find({'_id': {'$lte': '2'}}):  # here we are writing query for geting that data record whose id is gretter than equal to 2
    print(i)                                          # here '$gte' is a reserve keyword for gretter than equal to
    #                                                  $gt= gretter than
    #                                                  $lt=less than
    #                                                  $lte=less than equal to 
    #                                                  her we have to use this doller symbol every time before condition '$' this is reserved

{'_id': '1', 'company name': 'google', 'faulty': 'xyz'}
{'_id': '2', 'company name': 'micosoft', 'faulty': 'abc'}

In [146]:
#  here we are replacing older data record with new one i.e to update

coll_pwskills.update_many({'company name':'google','faulty':'xyz'} , {"$set" : {'company name':'pwskills','faulty':'pqr'}})

In [147]:
for i in coll_pwskills.find():
    print(i)

{'_id': ObjectId('6404b7be6df7b2a638580a0e'), 'name': 'sanjana', 'class': 'Data science masters', 'time': 'flexi'}
{'_id': ObjectId('6404b7bf6df7b2a638580a0f'), 'mail_id': 'sanjanashinde@gmail.com', 'mobile_no': 9374672947, 'address': 'kolhapur'}
{'_id': ObjectId('6404b7c16df7b2a638580a10'), 'name': 'sanjana', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a11'), 'name': 'sanjana', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a12'), 'name': 'sanika', 'address': 'thane'}
{'_id': ObjectId('6404b7c16df7b2a638580a13'), 'name': 'soniya', 'address': 'kolhapur'}
{'_id': ObjectId('6404b7c16df7b2a638580a14'), 'name': 'prerana', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a15'), 'name': 'sima', 'address': 'mumbai'}
{'_id': ObjectId('6404b7c16df7b2a638580a16'), 'name': 'sona', 'address': 'gadhinglaj'}
{'_id': ObjectId('6404b7c16df7b2a638580a17'), 'name': 'pandurang', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a18'), 'name': 'riya', 'address': 'ajara'}
{'_id': ObjectId('6404b7c16df7b2a638580a19'), 'name': 'disha', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a1a'), 'name': 'kanchan', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a1b'), 'name': 'hema', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a1c'), 'name': 'nita', 'address': 'pune'}
{'_id': ObjectId('6404b7c16df7b2a638580a1d'), 'name': 'nikita', 'address': 'radhanagri'}
{'_id': ObjectId('6404b7c16df7b2a638580a1e'), 'name': 'dipika', 'address': 'new-delhi'}
{'_id': ObjectId('6404b7c26df7b2a638580a1f'), 'name': 'notebook', 'quantity': 50, 'ratings': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college_rules', 'perforated']}
{'_id': ObjectId('6404b7c46df7b2a638580a20'), 'company name': 'google', 'product': 'Affordable AI', 'course offered': 'Machine learning with Deployment'}
{'_id': ObjectId('6404b7c46df7b2a638580a21'), 'company name': 'microsoft', 'product': 'Affordable AI', 'course offered': 'Deep learning '}
{'_id': ObjectId('6404b7c46df7b2a638580a22'), 'company name': 'facebook', 'product': 'Affordable AI', 'course offered': 'data science masters'}
{'_id': '1', 'company name': 'pwskills', 'faulty': 'pqr'}
{'_id': '2', 'company name': 'micosoft', 'faulty': 'abc'}
{'_id': '3', 'company name': 'facebook', 'faulty': 'mon'}

In [148]:
coll_pwskills.drop()         # used to delete collection

In [149]:
for i in coll_pwskills.find():      # here we don't get any data records because we have deleted all records
    print(i)