In [1]:
a=1
while a <=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

In [3]:
n= int (input("enter your limit"))    #sum of numbers upto given no . Eg: limit=4   ans:1+2+3+4=10
start_point=0
counter=1
while counter<=n:
    start_point=start_point+counter
    counter+=1
print(start_point)

enter your limit 4

10

In [2]:
no= int(input("Enter your no"))    #To find factorial of no.  Eg: 3=1*2*3=6   Ans=6
factorial = 1
while no > 0:
    factorial = factorial*no
    no= no-1
factorial

Enter your no 3

6

In [9]:
no= int(input("enter the no"))      #to get fabinonacci series = Fabinonacci series is sum of previous no is equal to next no.
a=0                                  # Eg: limit no :5  =0,1,(0+1)=1,(1+1)=2,(1+2)=3   Ans=0,1,1,2,3
b=1
counter=0
while counter<no:
    print(a)
    c=a+b
    a=b
    b=c
    counter =counter+1

enter the no 5

0
1
1
2
3

In [12]:
no=int (input("enter no"))
a,b=0,1                                   # To find fibinonacci series by using for loop
for i in range(0,no):
    print(a)
    c=a+b
    a=b
    b=c

enter no 10

0
1
1
2
3
5
8
13
21
34

In [13]:
s="sudh"

In [16]:
s[::-1]

'hdus'

In [17]:
s

'sudh'

In [20]:
word= str(input( "enter word"))     #To reverse string using while loop
reverse=" "
length=len(word)
while length>0:
    reverse = reverse + word[length-1]
    length = length -1
print(reverse)

enter word sudh

 hdus

In [21]:
len(s)

4

In [3]:
n= int (input("enter your no"))      #to get tables of no's
i=1
while i <=10:
    result= n*i
    print(n," *",i,"=",result)
    i=i+1

enter your no 5

5  * 1 = 5
5  * 2 = 10
5  * 3 = 15
5  * 4 = 20
5  * 5 = 25
5  * 6 = 30
5  * 7 = 35
5  * 8 = 40
5  * 9 = 45
5  * 10 = 50

In [8]:
n=5                   # In python we can use else with while . else executes only when while loop executes completely.
i=1                   # here we have breaked loop when i becomes 3 so loop is not executed completely so else statement will not get executed
while i<n:
    print(i)
    if i==3:
        break
    i=i+1
else:
    print("This will be executed once while loop executed completely")

1
2
3

In [6]:
# Comprehension: (in loop)

l=[1,2,3,4,5,6]                # to find squres of no
l1=[]
for i in l:
    l1.append(i**2)

In [7]:
l1

[1, 4, 9, 16, 25, 36]

In [8]:
[i**2 for i in l ]          # to find squres of no given list and formating squres in another list 
                            # this is done in one line like this code

[1, 4, 9, 16, 25, 36]

In [9]:
[i for i in l if i%2==0]  # For comprehension =[(output that we want to print) (for loop)(then write condition)] then presss enter

[2, 4, 6]

In [11]:
l2=["sanjana","san","pwskills"]

In [12]:
[i.upper()for i in l2]     # to convert given list in uppercase by comprehension  (list comprehension)

['SANJANA', 'SAN', 'PWSKILLS']

In [13]:
l

[1, 2, 3, 4, 5, 6]

In [15]:
list(i**2 for i in l)  # tuple comprehension

[1, 4, 9, 16, 25, 36]

In [28]:
d={"key1":1,"key2":2,"key3":3,"key4":4}

In [29]:
d

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [35]:
{k:v**2 for k ,v in d.items()}      # # to print squres of values  dictionary comprehension

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [22]:
d.items()

dict_items([('key1', '1'), ('key2', '2'), ('key3', '3'), ('key4', '4')])

In [36]:
{ k:v for k,v in d.items() if v>1 }    # this is dictionary comprehesion where values are more then 1 here we are doing dictionary so we use '{}'

{'key2': 2, 'key3': 3, 'key4': 4}

In [4]:
 # Functions in Python:
print("this is print")

this is print

In [5]:
l=[1,2,3,4]

In [6]:
len(l)

4

In [7]:
type(l)

list

In [8]:
# Advantage of function is function provides reuseability and mobility  to users and stores program in optimized and structured way

In [10]:
# Creation of function:
def test():
    pass

In [14]:
def test1():                                # defining function
    print("This is my first function")      # print gives output in none data type

In [18]:
test1()             # calling function

This is my first function

In [19]:
test1+"san"

TypeError: unsupported operand type(s) for +: 'function' and 'str'

In [20]:
def test2():
    return "this is my very first return"

In [21]:
test2()

'this is my very first return'

In [22]:
test2()+"sanjana"                  # return always gives you output that data type which you have given

'this is my very first returnsanjana'

In [23]:
def test3():
    return "sanjana",12,3.4,[4,5,6] # if we wamt to return veriables with differant data types then it returns in tuple

In [25]:
test3()

('sanjana', 12, 3.4, [4, 5, 6])

In [39]:
a,b,c,d = test3()

In [42]:
a=1     #decration of veriables
b=2

In [43]:
a,b=1,2     # 2 nd way to declare veriables

In [51]:
def test4():
    a=5+6/7
    return a

In [52]:
test4()

5.857142857142857

In [53]:
def test5(a,b,c):    # arguments in function 
    d=a+b/c
    return d

In [55]:
test5(2,3,4)

2.75

In [57]:
def test6(a,b):
    return a+b

In [61]:
test6("sanjana","sudh")   # string concadination

'sanjanasudh'

In [62]:
test6([2,3,4],[56,6])   #list concadination

[2, 3, 4, 56, 6]

In [63]:
l=[2,3,4,5,"sanjana","sudh",[5,6,7]]

In [64]:
l[0:4]

[2, 3, 4, 5]

In [65]:
ll=[]
for i in l:
    if type(i)==int or type(i)==float:
        ll.append(i)

In [66]:
ll

[2, 3, 4, 5]

In [75]:
def test7(l):       # to separate in  and float values using for  
    ll=[]
    for i in l:
            if type(i)==int or type(i)==float:
                ll.append(i)
    return ll

In [76]:
test7(l)

[2, 3, 4, 5]

In [77]:
l

[2, 3, 4, 5, 'sanjana', [5, 6, 7]]

In [79]:
def test8(a):
    l2=[]
    for i in a:
        if type(i) ==list:
            for j in i :
                l2.append(j)
        else :
            if type(i)== int or type(i)== float:
                l2.append(i)
    return l2

In [82]:
test8(l)

[2, 3, 4, 5, 5, 6, 7]

In [ ]:
test8()

In [85]:
len(l)

6

In [87]:
def test9(a):
    """ This is function to extract num data from list  """   # this is to get docstring for our user defined function. this we can get by pressing 
    l2=[]                                                     # shift+tab we can get to know what that function does
    for i in a:
        if type(i) ==list:
            for j in i :
                l2.append(j)
        else :
            if type(i)== int or type(i)== float:
                l2.append(i)
    return l2

In [88]:
test9([1,2,3,4])

[1, 2, 3, 4]

In [89]:
def test10(a,b):
    return a+b

In [91]:
def test11(*args):       #by using *args we can give many no of arguments that user wants and return args returns given input in tuple format
    return args

In [92]:
test11(1,2,3,4,55)

(1, 2, 3, 4, 55)

In [94]:
test11(1,2,3,45,"sanjana","shinde",[1,2,3,4,45,6,9])

(1, 2, 3, 45, 'sanjana', 'shinde', [1, 2, 3, 4, 45, 6, 9])

In [96]:
type(test11())

tuple

In [97]:
def test12(*sudh):     # here we can use anything at sudh ,args it just a name
    return sudh

In [99]:
test12(2 ,3 ,4 ,5)

(2, 3, 4, 5)

In [100]:
def test13(*args,a):
    return args ,a

In [109]:
test13(1,2,3,3,a=7)

((1, 2, 3, 3), 7)

In [110]:
def test14(c,d,a=23,b=2):
    return a,b,c,d

In [111]:
test14(4,5)

(23, 2, 4, 5)

In [112]:
test14(2,3,a=6)   # here value of a is by default 23 but while runing we can overwrite it by passing value in argument

(6, 2, 2, 3)

In [113]:
def test15(**kwargs):     #here **kw args is used to take dictionary as input 
    return kwargs

In [114]:
test15()

{}

In [115]:
type(test15())

dict

In [117]:
test15(a=[1,2,34],b=[5,6,78],c=[6,7,88], d="sanjana")   #for geting dict as output we should pass a

{'a': [1, 2, 34], 'b': [5, 6, 78], 'c': [6, 7, 88], 'd': 'sanjana'}