In [3]:
range(10)

range(0, 10)

In [5]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
# generator Function :  in generator function yield is used to return values instead of return Adv. of using this function is that it 
# it occupies less memory in pc .it is bacicaly used in teerms of large data

In [8]:
def test_fib(n):   # function for fibinonacci series.Imp:
                 # We can create generator function by using yield keyword.
    a,b=0,1
    for i in range(0,10):
        yield a
        a,b=b,a+b

In [10]:
test_fib(10)   # this will give us only object after generater

In [13]:
for i in test_fib(10):  # this will give us values 
    print(i)

0
1
1
2
3
5
8
13
21
34

In [6]:
def test_fib1():
    a,b=0,1
    while True :   # here ture keyword is used for being codition always true
        yield a
        a,b=b,a+b

In [7]:
test_fib1()

In [8]:
fib=test_fib1()   # here we have created object of test_fib2() function

In [9]:
type(fib) # the type of fib is generator means iterator

generator

In [31]:
for i in range(10):  # here next is used for next iteration
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [34]:
s='sudh'

In [35]:
s

'sudh'

In [48]:
for i in s:  #for loop also use iter() function and calculates length . For loop by defaulty also uses next()for geting next values in 
     print(i)  # string.

s
u
d
h

In [37]:
s

'sudh'

In [40]:
next(s)   # string is not a by default iterator here we can not directly do next(),next i.e we can get next next alphaabets

TypeError: 'str' object is not an iterator

In [50]:
s1=iter(s)  # string is iterable but not iterator .To make string iterable we should use iter() function

In [51]:
next(s1)

's'

In [52]:
next(s1)

'u'

In [53]:
next(s1)

'd'

In [54]:
next(s1)

'h'

In [55]:
next(s1)  # here our string is completed

StopIteration:

In [57]:
next(45)  # concept of iterator: it is that object or data from which we can get data by doing next() ,next.
          # Eg: int ,float,complex no are not iterator because they are not iterable .
          # We can convert that object to iterator who are iterable.

TypeError: 'int' object is not an iterator

In [58]:
iter(45)    # concept of iterable: this is that data which can be converted into iterators .
            # eg: str,list,tuple as they are iterable

TypeError: 'int' object is not iterable

In [21]:
def count_test(n):     # generator function 
    count =1
    while count<=n:
        yield count
        count=count+1

In [19]:
c=count_test(5)  # creating object of generator funtion count_test()

In [20]:
for i in c:    # print data in function
    print(i)

1
2
3
4
5

In [38]:
# Lambda Function : It is one line function .
#                   It is used in simple use cases.

In [39]:
n=3        # normal function to calculate square of no.
p=2
def test3(n,p):
    return n**p

In [40]:
test3(3,2)

9

In [35]:
a=lambda n,p:n**p   # this type of functions are called one line function or anonomus function or lambda function.
                   # lambda is reserve keyword in python
                    # here a is not a name of function just like def . It is a veriable where we have stored lambda functon .
                   # we can call function by calling a and passing arguments in it

In [36]:
a(3,2)        # calling of lambda function.

9

In [34]:
add=lambda x,y:x+y    # here add is a veriable where lambda function is stored.

In [41]:
add(2,3)

5

In [46]:
c_to_f=lambda c:(9/5)*c+32   # function to convert celsius to fahrenheit

In [47]:
c_to_f(45)

113.0

In [2]:
# finding maximun no between no.s           syntax:(veriable name where we store function)=lambda(keyword) (veriables needed in function) (colon':')
#                                                     (process that we are doing )or (condition)
find_max=lambda x,y: x if x>y else y

In [4]:
find_max(34,56)

56

In [52]:
s="pwskills"

In [55]:
find_length=lambda s:len(s)   # function to calculate length of string

In [56]:
find_length(s)

8

In [9]:
# Map reduce and filter function:

In [4]:
l=[2,3,4,5]

In [5]:
def test(l):
    l1=[]
    for i in l:
        l1.append(i**2)
    return l1

In [6]:
test(l)

[4, 9, 16, 25]

In [7]:
def sq(x):
    return x**2

In [8]:
map(sq,l)    # this will give us object of map
             # map is inbuilt function in python it takes two arguments as input first is fuction name & another is iterables.
             # here sq is function and l is list (iterable)

In [15]:
list(map(sq,l))   #to get output we have to convert it in to list 
                 # here we have used sq a external function
                 # for complex cases use external function

[4, 9, 16, 25]

In [14]:
list(map(lambda x: x**2,l))   # above code we can write using lambda function in a single line
                             # use lambda fuction of simple case

[4, 9, 16, 25]

In [11]:
l1=[1,2,3,4,5]

In [12]:
l2=[6,7,8,9,10]

In [16]:
list(map(lambda x,y:x+y,l1,l2))    # here we have added values of l1 with l2 i.e (1+6)=7,(2+7)=9 etc.

[7, 9, 11, 13, 15]

In [21]:
def add(x,y):  #external function
    return x+y

In [22]:
list(map(add,l1,l2))  # by using external function.

[7, 9, 11, 13, 15]

In [23]:
s="pwskills"

In [27]:
s.upper()  # to convert string into upper case

'PWSKILLS'

In [28]:
list(map(lambda s:s.upper(),s))   #converting string into upper case using lambda and map function

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [29]:
# Reduce function:
#1.reduce is not by default available we have to call it fom library

In [32]:
from functools import reduce

In [33]:
l3=[1,2,3,4,5]

In [38]:
reduce(lambda x,y : x+y ,l3)   # to get sum of no.s in l3

15

In [40]:
reduce(lambda x,y,z : x+y+z ,l3)   # to get sum of no.s in l3
                                  # here we can give only give only two arguments

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [44]:
reduce(lambda x,y : x+y ,[])   # to get sum of no.s in l3  
                            # the list must have any argument

TypeError: reduce() of empty iterable with no initial value

In [46]:
reduce(lambda x,y : x+y ,[1])   # to get sum of no.s in l3 
                                # this is exceptional case here list may one parameter but their should not be more than two parameters.

1

In [51]:
reduce(lambda x,y:x*y,l3)  # multiplication of no.s in list

120

In [52]:
reduce(lambda x,y: x if x>y else y,l3)   # to find maximum no in l3

5

In [70]:
# Filter Fuction: When we have list of collection and if we want to get data that satisfies certain condition then we can use filter function.
#                 It basically used for filtering data from a collection of data.

In [71]:
l3

[1, 2, 3, 4, 5]

In [78]:
list(filter(lambda x:x%2==0,l3))   # to get even no.s in l3

[2, 4]

In [79]:
list(filter(lambda x:x%2!=0,l3))  # to get odd no.s in l3

[1, 3, 5]

In [74]:
l4=[1,2,-3,4,-5,-6]

In [75]:
list(filter(lambda x:x<0,l4))  #to seperating negative no.s in l4

[-3, -5, -6]

In [76]:
l5=["sanjana","sudh","pwskills","prerana"]

In [77]:
list(filter(lambda x: len(x) <8,l5))

['sanjana', 'sudh', 'prerana']

In [80]:
l6=[2,3,4,5,5,567,7887,5678,98]

In [81]:
l6

[2, 3, 4, 5, 5, 567, 7887, 5678, 98]

In [84]:
list(filter(lambda x:  x%2==0,l6))

[2, 4, 5678, 98]

In [85]:
list

list